#aboutUs {
    background: var(--mirage);
    background-image: url(../img/background/backgroundPat.png);
}

#aboutHeader {
    padding: 5% 0% 5% 0%;
}

#aboutHeader h1 {
    font-size: 5.0rem;
    font-weight: bolder;
}

#ourMissionWords {
    padding: 5% 0% 5% 10%;
}

.ourMissionBox {
    position: relative;
    height: auto;
    color: white;
    background-image: linear-gradient(to left, transparent 13%, var(--luckyPoint) 43%);
}

#ourMissionWords h2 {
    font-size: 2rem;
    color: #0da8d9;
    font-weight: bolder;
}

#ourMissionWords h3 i {
    font-size: 1.5rem;
    color: #0da8d9;
}

.stockPic {
    z-index: -1;
}

.stockPic img {
    height: 100%;
    width: auto;
    justify-content: flex-end;
    padding: 0px !important;
    float: right;
}

.sectionLine {
    padding: 5% 10% 5% 10%;
}

.sectionLine h4 {
    display: flex;
    flex-direction: row;
}

.sectionLine h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    border-color: var(--darkTangerine);
    margin: auto;
}

.sectionLine h4:after {
    margin-left: 10px;
}

#aboutRow {
    margin: 0px !important;
}

.ourPurpose {
    padding: 0% 10% 5% 10%;
}

.ourPurpose h4 {
    color: var(--stormGrey);
}

#aboutUs #header {
    height: 115px !important;
}