/*     Contact Page */

body {
    background: var(--mirage);
    background-image: url(../img/background/patternDots.png);
}

.contact-row {
    margin-top: 10%;
}

.verticalSplitLineContact {
    height: 100%;
    background-color: #f2a413;
    width: 2px;
}

@media (max-width: 575px) {
    .verticalSplitLineContact {
        width: 60vw;
        background-color: #f2a413;
        height: 2px;
    }
    #slackDonate {
        padding-top: 10%;
    }
    #contactFill {
        padding-bottom: 9%;
    }
    #contactHeader h1 {
        font-size: 3.0rem !important;
        font-weight: bolder !important;
    }
}

.form-field {
    width: 100%;
    padding: 1% 10%;
    color: var(--gainsboro);
    background-color: Transparent;
    border: 2px solid var(--gainsboro);
}

#contactHeader {
    padding: 5% 0% 0% 0%;
}

#contactHeader h1 {
    font-size: 5.0rem;
    font-weight: bolder;
}

#formSection {
    padding-top: 0px !important;
    padding-bottom: 5% !important;
}