@media screen and (max-width: 992px) {
	#lightBulb {
		margin-top: -20%;
		z-index: 0;
		width: 100%;
	}

	#heroPhoto {
		padding-top: 10%;
	}
}

#heroPhoto {
	width: 100%;
	height: 150%;
	background-size: cover;
	background-image: radial-gradient(farthest-corner circle at 40px 40px, #5a456b 0%, #010101 40%);
}

#lightBulb {
	width: 100%;
}

#newHero h1 {
	font-size: 5rem;
	font-weight: bolder;
}

#newHero h2 {
	font-size: 2rem;
	color: #0da8d9;
	font-weight: bolder;
}

#newHero i {
	font-size: 3.5rem;
	color: #0da8d9;
}

#newHero h3 {
	font-size: 1rem;
	font-weight: bolder;
	color: #6c6c6c;
}

#homeEventsPhoto {
	width: 100%;
	height: 150%;
	background-image: linear-gradient(#010101 10%, rgba(0, 0, 0, .5), #010101 100%),
		url(./img/home/conference-auditorium-meeting.jpg);
	background-size: cover;
}

#homeEvents h5 {
	font-weight: lighter;
}

.hero-padding {
	padding-top: 10%;
	padding-bottom: 10%;
}

.homeEvents-padding {
	padding: 0 10% 20% 10%;
}
