#members {
    background: var(--mirage);
    background-image: url(../img/background/backgroundPat.png);
}

#membersHeader h1 {
    font-size: 5.0rem;
    font-weight: bolder;
}

#membersHeader button {
    height: 3.5rem;
}

#ourMissionWords {
    padding: 5% 0% 5% 10%;
}

#ourMissionWords h2 {
    font-size: 2rem;
    color: white;
    font-weight: bolder;
}

#ourMissionWords h3 {
    font-size: 1.5rem;
    color: var(--stormGrey);
}

.sectionLine {
    padding: 5% 10% 5% 10%;
}

.sectionLine h4 {
    display: flex;
    flex-direction: row;
}

.sectionLine h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    border-color: var(--darkTangerine);
    margin: auto;
}

.sectionLine h4:after {
    margin-left: 10px
}

.ourMembers {
    padding: 5% 10% 5% 10%;
}

.ourMembers h4 {
    color: var(--stormGrey);
}

#membersUs #header {
    height: 115px !important;
}

#ourMissionSec {
    padding: 0% 10% 10% 10%;
}

#members #header {
    height: 115px !important;
}

.social {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
}

.memberCard {
    width: 10vw;
}


/******************************PROPABLY REUSE SIGN UP SECTION*************************/

#signUpBoxWords {
    padding: 5% 0% 5% 10%;
}

.signUpBox {
    position: relative;
    height: auto;
    color: white;
    background-image: linear-gradient(to left, transparent 10%, var(--luckyPoint) 32%);
}

#signUpBoxWords h2 {
    font-size: 2rem;
    color: white;
    font-weight: bolder;
}

.stockPic {
    z-index: -1;
}

.stockPic img {
    height: 100%;
    width: auto;
    padding: 0px !important;
    float: right;
}

.buttonsignUpBox {
    padding: 5% 0% 5% 10%;
}

@media (max-width: 1280px) {
    .stockPic {
        display: none;
    }
    .signUpBox {
        background-color: var(--luckyPoint);
    }
    #signUpBoxWords {
        padding: 5% 10% 5% 10%;
    }
    .buttonsignUpBox {
        padding: 5% 10% 5% 10%;
    }
}


/*************************************************************************************/

.ourMembers h4 {
    color: var(--stormGrey);
}

#membersCardsLandscape .card {
    background-color: var(--luckyPoint);
}

#membersCardsLandscape .col-md-8 {
    padding: 1%;
}

#membersCardsLandscape .col-md-4 {
    padding: 0%;
}

#membersHeader {
    padding: 5% 0% 5% 0%;
}

#myFilter {
    background-color: var(--irisBlue);
    border: var(--irisBlue);
    color: var(--gainsboro);
    font-weight: bolder;
}

@media (max-width: 575px) {
    #membersHeader h1 {
        font-size: 3.0rem !important;
        font-weight: bolder !important;
    }
}