#members{
    background: var(--mirage);
    background-image: url(../img/background/backgroundPat.png);
}

#membersHeader{
        padding: 200px 100px 100px 100px;
}

#membersHeader h1 {
    font-size: 5.0rem;
    font-weight: bolder;
}

#ourMissionWords {
    padding: 25px 0px 25px 100px;

  }

.ourMissionBox {
    position: relative;
    height: auto;
    color: white;
    border: 3px soild #73AD21;
    background-image: linear-gradient(to left, transparent -10%, var(--luckyPoint) 31%);
}

#ourMissionWords h2 {
    font-size: 2rem;
    color: white;
    font-weight: bolder;

  }

  #ourMissionWords h3 {
    font-size: 1.5rem;
    color: var(--stormGrey);
  }

  .stockPic{
      height: 300px;
      width: 100px;
      z-index: -1;
      justify-content: flex-end;
  }


  .sectionLine {
    padding: 100px 100px 100px 100px;
}
  

  .sectionLine h4 {
    display: flex;
    flex-direction: row;
  }
   .sectionLine h4:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    border-color: var(--darkTangerine);
    margin: auto;
  }

  .sectionLine h4:after {
    margin-left: 10px
  }

  

  .ourPurpose {
    padding: 0px 100px 100px 100px;
}

.ourPurpose h4 {
    color: var(--stormGrey);
}


#membersUs #header {
    height: 115px !important;
}

#ourMissionSec {
  padding: 0px 100px 100px 100px;
}

#members #header {
  height: 115px !important;
}

.social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
}

.memberCard {
  width: 10vw;
}