 /* Resources Page */
 
 .inventionProcessBox {
     height: auto;
     color: white;
     background-image: linear-gradient(to left, #08090e 13%, var(--luckyPoint) 43%);
     margin: 0 115px;
 }
 
 .inventionProtoFinanceBox {
     height: auto;
     color: white;
     background-image: linear-gradient(to right, var(--luckyPoint) 40%, transparent 70%), url("/assets/img/resources/prototyping-notes.jpg");
     background-size: cover;
     margin: 0 1%;
 }
 /*

.inventionProcessBox {
    position: relative;
    margin: 5vh auto;
    height: auto;
    color: white;
    border: 3px soild #73AD21;
    width: 80%;
    padding: 3%;
    background-color: #124361;
    /* For browsers that do not support gradients 
    background-image: linear-gradient(to right, #124361, #141B2F);
}

.resourcesBoxesLeft {
    margin: 2% 5% 2% 11%;
    height: auto;
    color: white; /*
    /*   float: left; 
    border: 3px soild #73AD21;
    width: 35%;
    padding: 3%;
    background-color: #124361;
    /* For browsers that do not support gradients 
    background-image: linear-gradient(to right, #124361, #141B2F);
}

.resourcesBoxesRight {
    margin: 2% 10% 2% 5%;
    height: auto;
    color: white;
    /*   float: right; 
    border: 3px soild #73AD21;
    width: 35%;
    padding: 3%;
    background-color: #124361;
    /* For browsers that do not support gradients 
    background-image: linear-gradient(to right, #124361, #141B2F);
}

@media screen and (max-width: 1000px) {

    .inventionProcessBox {
        position: relative;
        width: 100%;
        margin: 5%;
    }

    .resourcesBoxesLeft {
        position: relative;
        float: unset;
        width: 100%;
        margin-top: 5%;
        margin-left: 8%;
    }

    .resourcesBoxesRight {
        position: relative;
        float: unset;
        width: 100%;
        margin-left: 8%;
        margin-right: 5%;
    }
}
*/
 
 .resourcesLightBulb img {
     height: 45vh;
     float: right;
 }
 /* Resources Page Mobile 

#resourceBody {
    background-color: #141B2E;
} */
 
 #inventionProcessBox button {
     width: 50%;
     display: block;
     margin-top: 10%;
 }
 
 #protoFinance img {
     height: 6%;
     width: auto;
     justify-content: flex-end;
     padding: 0px !important;
 }
 
 #protoFinance {
     padding: 0 115px;
 }
 
 .fabricationResources {
     margin: 2% 0;
 }
 
 #limeDesign {
     background-image: linear-gradient(to left, rgba(8, 9, 14, .7) 40%, rgba(8, 9, 14) 70%), url("/assets/img/resources/electronics-battery-styled.png");
     border: 0px;
 }