 /* Resources Page */
 
 #bodyResources {
     background: url(/inventorsCouncil/assets/img/resources/wrench-pattent.png) right top no-repeat, url(/inventorsCouncil/assets/img/resources/piece-fire-pattent.png) left no-repeat;
     background-size: 50%;
     background-color: var(--mirage);
 }
 
 #resourcesHeader {
     padding: 200px 0px 100px 0px;
 }
 
 #resourcesHeader h1 {
     font-size: 5.0rem;
     font-weight: bolder;
 }
 
 .inventionProcessBox {
     height: auto;
     color: white;
     background-image: linear-gradient(to left, #08090e 13%, var(--luckyPoint) 43%);
 }
 
 .inventionProtoFinanceBox {
     height: auto;
     color: white;
     background-image: linear-gradient(to right, var(--luckyPoint) 40%, transparent 70%), url("/inventorsCouncil/assets/img/resources/prototyping-notes.jpg");
     background-size: cover;
     margin: 0 1%;
 }
 /*

.inventionProcessBox {
    position: relative;
    margin: 5vh auto;
    height: auto;
    color: white;
    border: 3px soild #73AD21;
    width: 80%;
    padding: 3%;
    background-color: #124361;
    /* For browsers that do not support gradients 
    background-image: linear-gradient(to right, #124361, #141B2F);
}

.resourcesBoxesLeft {
    margin: 2% 5% 2% 11%;
    height: auto;
    color: white; /*
    /*   float: left; 
    border: 3px soild #73AD21;
    width: 35%;
    padding: 3%;
    background-color: #124361;
    /* For browsers that do not support gradients 
    background-image: linear-gradient(to right, #124361, #141B2F);
}

.resourcesBoxesRight {
    margin: 2% 10% 2% 5%;
    height: auto;
    color: white;
    /*   float: right; 
    border: 3px soild #73AD21;
    width: 35%;
    padding: 3%;
    background-color: #124361;
    /* For browsers that do not support gradients 
    background-image: linear-gradient(to right, #124361, #141B2F);
}

@media screen and (max-width: 1000px) {

    .inventionProcessBox {
        position: relative;
        width: 100%;
        margin: 5%;
    }

    .resourcesBoxesLeft {
        position: relative;
        float: unset;
        width: 100%;
        margin-top: 5%;
        margin-left: 8%;
    }

    .resourcesBoxesRight {
        position: relative;
        float: unset;
        width: 100%;
        margin-left: 8%;
        margin-right: 5%;
    }
}
*/
 
 .resourcesLightBulb img {
     height: 45vh;
     float: right;
 }
 /* Resources Page Mobile 

#resourceBody {
    background-color: #141B2E;
} */
 
 #inventionProcessBox button {
     width: 50%;
     display: block;
     margin-top: 10%;
 }
 
 #protoFinance img {
     height: 6%;
     width: auto;
     justify-content: flex-end;
     padding: 0px !important;
 }
 
/*  section {
     padding: 0 115px;
 } */
 
 .fabricationResources {
     margin: 2% 0;
     padding: 0 98px;
 }
 
 .fabricationResources .card-body {
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     border: 0px;
 }
 
 #limeDesign {
     background-image: linear-gradient(to left, rgba(8, 9, 14, .7) 60%, rgba(8, 9, 14) 90%), url("/inventorsCouncil/assets/img/resources/electronics-battery-styled.png");
 }
 
 #inventL {
     background-image: linear-gradient(to left, rgba(8, 9, 14, .7) 60%, rgba(8, 9, 14) 90%), url("/inventorsCouncil/assets/img/resources/cad-styled.png");
 }
 
 #piLabs {
     background-image: linear-gradient(to left, rgba(8, 9, 14, .7) 60%, rgba(8, 9, 14) 90%), url("/inventorsCouncil/assets/img/resources/computer-graphics-styled.png");
 }
 
 #famLab {
     background-image: linear-gradient(to left, rgba(8, 9, 14, .7) 60%, rgba(8, 9, 14) 90%), url("/inventorsCouncil/assets/img/resources/electronics-closeup-styled.png");
 }
 
 .patMarkBox1 {
     height: auto;
     color: white;
     background-image: linear-gradient(to right, rgba(0, 0, 0, .8) 40%, rgba(0, 0, 0, .8) 70%), url("/inventorsCouncil/assets/img/resources/arrow-pattent.png");
     background-size: cover;
     margin: 0 1%;
 }
 
 .patMarkBox2 {
     height: auto;
     color: white;
     background-image: linear-gradient(to right, rgba(0, 0, 0, .8) 40%, rgba(0, 0, 0, .9) 70%), url("/inventorsCouncil/assets/img/resources/marketing-numbers-graph.jpg");
     background-size: cover;
     margin: 0 1%;
 }
 
 #patMark {
     margin-bottom: 100px;
 }